body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header-image {
    display: block;
    margin: 0 auto 20px auto;
    width: 100px;
    height: auto;
}
.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width:400px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button.delete-btn {
    background-color: #dc3545;
    padding: 5px 8px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #c82333;
}

button.edit-btn {
    background-color: #ffc107;
    padding: 5px 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button.save-btn {
    background-color: #007bff;
    padding: 5px 8px;
    color: white;
    border-radius: 4px;
}

button.edit-btn:hover {
    background-color: #e0a800;
}

